*
!.gitignore
!/README.md
!/LICENSE
!CustomLoadingBackground
!CustomLoadingBackground/**
!IMGONNAPUKE
!IMGONNAPUKE/**
!Do I Know You
!Do I Know You/**
!mike_block
!mike_block/**
!DamageNumbers
!DamageNumbers/**
!custom_hud_patch
!custom_hud_patch/**
*/*.*
!/*/*.mod